<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" [routerLink]="['/purple']">LoginPurple</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/blue']">LoginBlue</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/column']">LoginColumn</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/twoside']">LoginTwoSide</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/cep']">Wizard tool</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/resize']">Resize</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/colormaterial']">Color picker</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/background']">Background</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/listcrud']">ListCrud</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/raster']">X and y </a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/rules']">Rules</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>