<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand">Routing</a><br>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link"[routerLink]="['/purple']">LoginPurple</a></li>
            <li class="nav-item"><a class="nav-link"  [routerLink]="['/blue']">LoginBlue</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/column']">LoginColumn</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/twoside']">LoginTwoSide</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/wizard']">Wizard tool</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>